<h1>Add your review for <%= @restaurant.name %></h1>
<%= simple_form_for [:admin, @restaurant, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.input :content, input_html: {class: "input-lg"} %>
  <%= f.input :rating, input_html: {class: "input-lg"} %>
   <%= f.button :submit, class: "btn btn-warning" %>
<% end %>


