<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table class= "table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.category %></td>
        <td><%= link_to 'Show', admin_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', admin_restaurant_path(restaurant), :confirm => 'Are you sure?', :method => :delete %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


