<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h3>Reviews</h3>
  <ul><% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> <%= review.rating %>
    <%= link_to 'Delete', admin_restaurant_review_path(@restaurant, review), method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_admin_restaurant_review_path(@restaurant, review) %>
    </li>
    <% end %>
  </ul>
 <%= link_to 'Add Review', new_admin_restaurant_review_path(@restaurant), {class: "btn btn-info"} %> |
<%= link_to 'Edit', edit_admin_restaurant_path(@restaurant), {class: "btn btn-warning"} %> |
<%= link_to 'Back', admin_restaurants_path, {class: "btn btn-primary"} %>



